 <form [formGroup]="editForm">
    <div class="form-group p-2">
    <input formControlName="id" type="number" class="form-control" id="id" aria-describedby="id Help" placeholder="id ">


    @if(editForm.get('name')?.touched && editForm.get('name')?.invalid ) {
      <span style="color: crimson;"> {{ getErrorMessage('name') }}</span>
    }@else {<label for="name">Name</label>}      <input formControlName="name" type="text" class="form-control" id="Name" aria-describedby="NameHelp" placeholder="Enter Name">
      <small id="NameHelp" class="form-text text-muted">Please enter your full name.</small>
    </div>
    <div class="form-group p-2">
      @if(editForm.get('age')?.touched && editForm.get('age')?.invalid ) {
        <span style="color: crimson;"> {{ getErrorMessage('age') }}</span>
      }@else {<label for="age">Age</label>}
            <input formControlName="age" type="text" class="form-control" id="age" aria-describedby="ageHelp" placeholder="Enter age">
    </div>
  
    <div class="btns d-flex justify-content-around">
      <button type="submit" class="btn btn-primary" (click)="OnSubmit()">Submit</button>
      <button  mat-dialog-close  type="button" class="btn btn-secondary"(click)="OnCancel()">Cancel</button>
    </div>
  </form> -
  